.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 1rem;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 45vw;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 45vw;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: .9rem;
  line-height: 1.5;
}

.logo {
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
 }

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }  
}
.mainnav ul{
  display: flex;
  list-style: none;
  justify-content: center;
}
.mainnav ul li{
padding: .5rem;
  margin-right: 3rem;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main {
    min-height: 70vh; 
    padding: .8rem 0;
    font-size: x-small;
  }
  .mainnav ul li{
    padding: .1rem;
      margin-right: .5rem;
      font-size: .7rem;
  }  
  .title {
    margin: .5rem;
    line-height: 1.15;
    font-size: 1.1rem;
  }
  .grid{
    max-width: 90vw;
  }
  .card{
    width: 90%;
  } 
  .card h2{
    font-size: .9rem;
  }
  .card p {
    font-size: .7rem;
  } 
  .description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1rem;
  }
  .footer {
    font-size: .7rem;
  }
}
